<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/user.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Dashboard</a></li>
                <li class="main-header__item"><a href="/add-users">User List</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form class="user-form" action="/add-users" method="post">
            <div class="form-control">
                <label for="user">User</label>
                <input type="text" name="user" id="user">
            </div>
            <button type="submit">Add User</button>
        </form>

    </main>
</body>

</html>